body {
    font-family: 'Poppins', sans-serif; 
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
  }


.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    overflow: hidden; 
    position: relative;
  }


  

/* Estilos del menú de navegación */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  background-color: #1a2337bd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.767);
    position: fixed;
  top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin: 0 10px;
  font-size: 20px;
  text-align: center;
  font-family: 'Pacifico';
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-item a {
  text-decoration: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

.navbar-item a:hover {
  background-color: #1A2337;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilos del menú desplegable de header */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 125%;
  left: 0;
  background-color: #1A2337;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.9);
   list-style: none;
   z-index: 1;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.dropdown-menu a:hover {
  background-color: #4B5F84;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Mostrar el menú desplegable al pasar el cursor sobre el enlace */
.dropdown:hover .dropdown-menu {
  display: block;

}


/* Estilos del icono de hamburguesa */
.menu-switcher-mobile {
  display: none;
}

.menu-switcher-mobile i {
  font-size: 24px;
  cursor: pointer;
}

.flap{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.3);
  
}

.flap:hover{
  border-radius: 50%;
  transform: scale(1.2);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para pantallas móviles */
@media (max-width: 768px) {
  .navbar {
    display: none; 
    position:fixed;
    top:24px;
    left: 0;
    width: 100%;
    padding: 10px;
  }

  .menu-switcher-mobile {
    display: block; 
    background-color: #1A2337 !important;
    width: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .navbar.show {
    display: block; 
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .navbar-item {
    margin: 10px 0;
  }

  .dropdown-menu {
    display: none; 
    position: static;
    background-color: transparent;
    box-shadow: none;
  }
 a.whatsapp-chat {
  width: 20px;
  height: 20px;
  font-size: 24px;
  right: 10px;
 }
 .scroll-to-top-btn{
  right: -5px !important;
 }
 .fa-bars{
  color: #fff;
 }
}

  
/* Estilos del encabezado */
#header {
  background-position: center;
  background-color: #1A2337;
  color: #ffffff;
  padding: 20%;
  text-align: center !important;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title{
  align-items: center;
}

#header img {
  width: 200px;
  height: 200px;
  left: 100px;
  border-radius: 50%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
  margin-bottom: 10px;
  animation: float 2s ease-in-out infinite alternate;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.703);
  transform: 
  translate(0%, 0%);
  animation: 
  morph-effect 10s
  infinite ease-in-out;
}

h1:nth-child(1){
    animation-delay: -10s;
  
}

h1:nth-child(2){
    animation-delay: -5s;
  
}

p.category-text{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Pacifico';
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 80px;
  }


  /*footer*/

  footer {
    background-color: #1A2337;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-radius: 0; /* Quitamos el border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: static;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  }